<nav class="nav">
	<div class="container--full nav__container">

		<a class="nav__logo" href="/index.html">
			<picture>
				<img class="img" src="/images/logo-pelpim.svg" alt="Logo Pelpim">
			</picture>
		</a>

		<div class="nav__icon">
			<span></span>
			<span></span>
		</div>

		<div class="nav__menu">
			<ul>
				<li><a href="#">Boutique</a></li>
				<li><a href="#">Inscription infographiste</a></li>
			</ul>
			<div class="nav__menu__info nav__menu__btns">
				<a class="btn btn--full--dark" href="#">Se connecter</a>
				<a class="btn btn--dark" href="#">Déposer un projet</a>
			</div>
		</div>

	</div>
</nav>