<nav class="nav">
	<div class="container--full nav__container">

		<a class="nav__logo" href="/index.html">
			<picture>
				<img class="img" src="/images/logo-pelpim.svg" alt="Logo Pelpim">
			</picture>
		</a>

		<div class="nav__icon">
			<span></span>
			<span></span>
		</div>

		<div class="nav__menu">
			<ul>
				<li><a class="active" href="#">Tableau de bord</a></li>
				<li><a class="active" href="#">Infographistes</a></li>
				<li><a class="active" href="#">Commandes</a></li>
				<li><a class="active" href="#">Messagerie</a></li>
				<li><a class="active" href="#">Entreprise</a></li>
				<li><a class="active" href="#">Staff</a></li>
			</ul>
			<div class="nav__menu__search">
				<input type="text" placeholder="Rechercher dans le portail">
				<picture>
					<img src="/images/icon-search.svg" alt="">
				</picture>
			</div>
			<div class="nav__profil">
				<p>John</p>
				<div></div>
			</div>
		</div>

		<a class="btn btn--small nav__btn" href="#">Déposer un projet</a>

	</div>
</nav>