$color-dark: #150b28;
$color-white: #fff;

$font-title: serif;
$font-text: sans-serif;

$font-size: 16px;

$from-tiny: 500px;
$to-tiny: $from-tiny - 1;
$font-tiny: 16px;

$from-small: 700px;
$to-small: $from-small - 1;
$font-small: 1.75vw;

$from-medium: 1000px;
$to-medium: $from-medium - 1;
$font-medium: 1.25vw;

$from-large: 1200px;
$to-large: $from-large - 1;
$font-large: 1vw;

$from-big: 1400px;
$to-big: $from-big - 1;
$font-big: 1vw;

$from-huge: 1600px;
$to-huge: $from-huge - 1;
$font-huge: 1vw;

$from-enormous: 1800px;
$to-enormous: $from-enormous - 1;
$font-enormous: 16px;

$from-gigantic: 2000px;
$to-gigantic: $from-gigantic - 1;
$font-gigantic: 16px;

$from-colossal: 2400px;
$to-colossal: $from-colossal - 1;
$font-colossal: 16px;

$container: 90vw;

$columns: 12;
$space: 1rem;
