<%= require('../includes/header.ejs')({
    title: 'Tableau de bord',
    page: 'page-dashboard',
    description: 'Tableau de bord.'
}) %>

<section class="choice">
	<div class="container choice__container">

		<div class="choice__title">
			<div class="choice__title__left">
				<h1>Sélectionnez un infographiste</h1>
			</div>
			<div class="choice__title__filtre">
				<a class="btn btn--dark" href="./demande-projet-infographiste.html">Attribuer</a>
				<div>
					<label class="filtre__label" for="filtre">Filtrer</label>
					<select class="filtre__select">
						<option value="choix" disabled selected>Choisir un filtre</option>
						<option value="0">0</option>
						<option value="1">1</option>
						<option value="2">2</option>
					</select>
				</div>
			</div>
		</div>

		<div class="choice__cards">

			<div class="choice__card">
				<div class="choice__card__left">
					<div></div>
					<a href="#">Voir profil</a>
				</div>
				<div class="choice__card__right">
					<p class="choice__card__right__state">Disponible</p>
					<h2>John Doe</h2>
					<p>6 commandes en cours</p>
					<ul>
						<li>Mobilier</li>
						<li>Vêtements</li>
						<li>Véhicules</li>
					</ul>
				</div>
			</div>

			<div class="choice__card">
				<div class="choice__card__left">
					<div></div>
					<a href="#">Voir profil</a>
				</div>
				<div class="choice__card__right">
					<p class="choice__card__right__state">Disponible</p>
					<h2>John Doe</h2>
					<p>6 commandes en cours</p>
					<ul>
						<li>Mobilier</li>
						<li>Vêtements</li>
						<li>Véhicules</li>
					</ul>
				</div>
			</div>

			<div class="choice__card">
				<div class="choice__card__left">
					<div></div>
					<a href="#">Voir profil</a>
				</div>
				<div class="choice__card__right">
					<p class="choice__card__right__state">Disponible</p>
					<h2>John Doe</h2>
					<p>6 commandes en cours</p>
					<ul>
						<li>Mobilier</li>
						<li>Vêtements</li>
						<li>Véhicules</li>
					</ul>
				</div>
			</div>

			<div class="choice__card">
				<div class="choice__card__left">
					<div></div>
					<a href="#">Voir profil</a>
				</div>
				<div class="choice__card__right">
					<p class="choice__card__right__state">Disponible</p>
					<h2>John Doe</h2>
					<p>6 commandes en cours</p>
					<ul>
						<li>Mobilier</li>
						<li>Vêtements</li>
						<li>Véhicules</li>
					</ul>
				</div>
			</div>

			<div class="choice__card">
				<div class="choice__card__left">
					<div></div>
					<a href="#">Voir profil</a>
				</div>
				<div class="choice__card__right">
					<p class="choice__card__right__state">Disponible</p>
					<h2>John Doe</h2>
					<p>6 commandes en cours</p>
					<ul>
						<li>Mobilier</li>
						<li>Vêtements</li>
						<li>Véhicules</li>
					</ul>
				</div>
			</div>

			<div class="choice__card">
				<div class="choice__card__left">
					<div></div>
					<a href="#">Voir profil</a>
				</div>
				<div class="choice__card__right">
					<p class="choice__card__right__state">Disponible</p>
					<h2>John Doe</h2>
					<p>6 commandes en cours</p>
					<ul>
						<li>Mobilier</li>
						<li>Vêtements</li>
						<li>Véhicules</li>
					</ul>
				</div>
			</div>

			<div class="choice__card">
				<div class="choice__card__left">
					<div></div>
					<a href="#">Voir profil</a>
				</div>
				<div class="choice__card__right">
					<p class="choice__card__right__state">Disponible</p>
					<h2>John Doe</h2>
					<p>6 commandes en cours</p>
					<ul>
						<li>Mobilier</li>
						<li>Vêtements</li>
						<li>Véhicules</li>
					</ul>
				</div>
			</div>

			<div class="choice__card">
				<div class="choice__card__left">
					<div></div>
					<a href="#">Voir profil</a>
				</div>
				<div class="choice__card__right">
					<p class="choice__card__right__state">Disponible</p>
					<h2>John Doe</h2>
					<p>6 commandes en cours</p>
					<ul>
						<li>Mobilier</li>
						<li>Vêtements</li>
						<li>Véhicules</li>
					</ul>
				</div>
			</div>

			<div class="choice__card">
				<div class="choice__card__left">
					<div></div>
					<a href="#">Voir profil</a>
				</div>
				<div class="choice__card__right">
					<p class="choice__card__right__state">Disponible</p>
					<h2>John Doe</h2>
					<p>6 commandes en cours</p>
					<ul>
						<li>Mobilier</li>
						<li>Vêtements</li>
						<li>Véhicules</li>
					</ul>
				</div>
			</div>

			<div class="choice__card">
				<div class="choice__card__left">
					<div></div>
					<a href="#">Voir profil</a>
				</div>
				<div class="choice__card__right">
					<p class="choice__card__right__state">Disponible</p>
					<h2>John Doe</h2>
					<p>6 commandes en cours</p>
					<ul>
						<li>Mobilier</li>
						<li>Vêtements</li>
						<li>Véhicules</li>
					</ul>
				</div>
			</div>

		</div>

	</div>
</section>

<%= require('../includes/footer.ejs')() %>
