<%= require('../includes/header.ejs')({
    title: 'Demande de projet',
    page: 'page-projet',
    description: 'Demande de projet avec infographiste'
}) %>
<section>
    <section class="pre-toggleables">
        <div class="space-between">
            <h1>Nom du projet</h1>
            <button class="btn disabled">Messagerie</button>
        </div>

        <section class="toggleables">
            <li class="active">Détail de la commande</li>
            <li>Profil du client</li>
        </section>
    </section>
    <section class="cards-container">
        <section>
            <section class="commande-infos">
                <section class="news__card">
                    <h2>Informations de commande</h2>
                    <table>
                        <tr>
                            <th>Date de création</th>
                            <th>Référence</th>
                            <th>Statut</th>
                            <th>Paiement</th>
                        </tr>
                        <tr>
                            <td>12/12/12</td>
                            <td>dsfjk/</td>
                            <td class="btn btn-wait">En attente</td>
                            <td>OK</td>
                        </tr>
                    </table>
                    <div class="btn">Commande complète</div>
                </section>
                <section class="news__card info-wrapper">
                    <div class="attrib">
                        <div class="btn info-icon"></div>
                        <table>
                            <tr>
                                <th>Nom</th>
                                <th>Prénom</th>
                            </tr>
                            <tr>
                                <td>Dupont</td>
                                <td>Michel</td>
                            </tr>
                        </table>
                    </div>
                    <a href="#">Voir le profil</a>
                    <button class="btn assign">Modifier assignation</button>
                </section>
            </section>
            <section class="news__card produit-infos">
                <h2>Informations sur le produit</h2>
                <table>
                    <tr>
                        <th>Détails FR</th>
                        <th>Détails EN</th>
                        <th>Dimensions(mm)</th>
                        <th>Materials</th>
                        <th>Scale</th>
                        <th>URL</th>
                    </tr>
                    <tr>
                        <td>/</td>
                        <td>N/A</td>
                        <td>Depth: 0<br>Width: 0<br>Height: 0</td>
                        <td>No materials</td>
                        <td>1</td>
                        <td>N/A</td>
                    </tr>
                </table>
                <div class="btn">Demande d'informations supplémentaires</div>
            </section>
        </section>
        <section class="news__card aside">
            <i>Pas d'infographiste attribué.</i>
        </section>
    </section>
</section>

<%= require('../includes/footer.ejs')() %>
