<%= require('../includes/header.ejs')({
    title: 'Demande de projet',
    page: 'page-projet-rendu',
    description: 'Demande de projet avec infographiste'
}) %>
<section>
    <section class="pre-toggleables">
        <div class="space-between">
            <h1>Nom du projet</h1>
            <button class="btn">Messagerie</button>
        </div>

        <section class="toggleables">
            <li class="active">Détails de la commande</li>
            <li>Profil du client</li>
        </section>
    </section>
    <section class="cards-container">
        <section>
            <section class="commande-infos">
                <section class="news__card">
                    <h2>Informations de commande</h2>
                    <table>
                        <tr>
                            <th>Date de création</th>
                            <th>Référence</th>
                            <th>Statut</th>
                            <th>Paiement</th>
                        </tr>
                        <tr>
                            <td>12/12/12</td>
                            <td>dsfjk/</td>
                            <td class="btn btn-ok">Document déposé</td>
                            <td>OK</td>
                        </tr>
                    </table>
                    <div>
                        <div class="btn purple">Annuler commande</div>
                        <a class="btn" href="./demande-projet-paiement-ok.html">Transmettre commande</a>
                    </div>
                </section>
                <section class="news__card info-wrapper">
                    <div class="attrib">
                        <div class="btn info-icon"></div>
                        <table>
                            <tr>
                                <th>Nom</th>
                                <th>Prénom</th>
                            </tr>
                            <tr>
                                <td>Dupont</td>
                                <td>Michel</td>
                            </tr>
                        </table>
                    </div>
                    <a href="#">Voir le profil</a>
                    <button class="btn assign">Modifier assignation</button>
                </section>
            </section>
            <section class="news__card produit-infos">
                <h2>Informations sur le produit</h2>
                <table>
                    <tr>
                        <th>Détails FR</th>
                        <th>Détails EN</th>
                        <th>Dimensions(mm)</th>
                        <th>Materials</th>
                        <th>Scale</th>
                        <th>URL</th>
                    </tr>
                    <tr>
                        <td>/</td>
                        <td>N/A</td>
                        <td>Depth: 0<br>Width: 0<br>Height: 0</td>
                        <td>No materials</td>
                        <td>1</td>
                        <td>N/A</td>
                    </tr>
                </table>
                <div class="btn">Demande d'informations supplémentaires</div>
            </section>
        </section>
        <section class="news__card aside canvas">
            <div class="modele__right">
                <span class="drag-notice" id="js-drag-notice">Drag to rotate 360&#176;</span>
                <div id="options">
                    <div class="option --is-active" data-option="base">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1376484/base.svg" alt="" />
                    </div>
                    <div class="option" data-option="back">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1376484/back.svg" alt="" />
                    </div>
                </div>
                <canvas id="model"></canvas>
                <div class="controls">
                    <!-- <div class="info"> -->
                    <!-- <div class="info__message"> -->
                    <!-- <p><strong>&nbsp;Grab&nbsp;</strong> to rotate chair. <strong>&nbsp;Scroll&nbsp;</strong> to -->
                    <!-- zoom.</p> -->
                    <!-- </div> -->
                    <!-- </div> -->
                    <div id="js-tray" class="tray">
                        <div id="js-tray-slide" class="tray__slide"></div>
                    </div>
                    <a class="conformity" href="./rendu-non-conforme.html">Le rendu est non-conforme</a>
                </div>
            </div>
        </section>
    </section>
</section>

<%= require('../includes/footer.ejs')() %>
