@font-face {
	font-family: "octarine-light";
	src: url("../fonts/Octarine-Light.eot"), url("../fonts/Octarine-Light.woff") format("woff"),
		url("../fonts/Octarine-Light.otf") format("opentype"), url("../fonts/Octarine-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "octarine-bold";
	src: url("../fonts/Octarine-Bold.eot"), url("../fonts/Octarine-Bold.woff") format("woff"),
		url("../fonts/Octarine-Bold.otf") format("opentype"), url("../fonts/Octarine-Bold.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
