.nav {
	position: relative;
	background: $color-white;
	box-shadow: $shadow;
	&__container {
		padding: space(1);
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__logo {
		width: 4rem;
		position: relative;
		z-index: 1;
		img {
			width: 100%;
		}
	}
	&__icon {
		width: 2.4rem;
		height: 2rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		cursor: pointer;
		position: relative;
		z-index: 1;
		@media screen and (min-width: $from-medium) {
			display: none;
		}
		span {
			display: block;
			width: 100%;
			height: 2px;
			background: $color-dark;
			border-radius: 0.5rem;
			&:last-of-type {
				margin-top: space(0.3);
			}
		}
	}
	&__menu {
		width: 100%;
		height: 100vh;
		position: absolute;
		top: 0;
		left: 0;
		background: $color-light;
		padding: space(1);
		display: flex;
		flex-direction: column;
		justify-content: center;
		opacity: 0;
		visibility: hidden;
		@media screen and (min-width: $from-medium) {
			position: static;
			opacity: 1;
			visibility: visible;
			width: calc(100% - 6rem);
			height: 100%;
			background: none;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			padding: space(0);
		}
		ul {
			@media screen and (min-width: $from-medium) {
				display: flex;
				align-items: center;
			}
			li {
				font-size: font(1.4);
				margin-bottom: space(1);
				font-family: $font-bold;
				@media screen and (min-width: $from-medium) {
					font-size: font(1);
					margin-bottom: space(0);
					margin-right: space(1.5);
				}
				.active {
					position: relative;
					&::before {
						content: "";
						display: block;
						width: 100%;
						height: 0.25rem;
						background: $color-blue;
						border-radius: 0.5rem;
						position: absolute;
						bottom: -0.75rem;
						left: 0;
					}
				}
			}
		}
		&__btns {
			a {
				&:first-of-type {
					margin-right: space(1);
				}
			}
		}
		&__info {
			@media screen and (min-width: $from-medium) {
				display: flex;
				align-items: center;
			}
			&__search {
				width: 100%;
				margin: space(1) 0 space(2);
				@media screen and (min-width: $from-medium) {
					width: 16rem;
					margin: 0 space(2) 0 0;
				}
			}
			&__profil {
				display: flex;
				display: flex;
				align-items: center;
				div {
					width: 2rem;
					height: 2rem;
					border-radius: 50%;
					background: $color-blue;
					box-shadow: $shadow;
					margin-left: space(1);
				}
				p {
					font-family: $font-bold;
					font-size: font(1.4);
					@media screen and (min-width: $from-medium) {
						font-size: font(1);
					}
				}
			}
		}
	}
}
