$color-white: #fff;
$color-light: #f7faff;
$color-dark: #16005f;
$color-gray: #a5a1b5;
$color-blue: #ccfaff;
$color-pink: #fae8ff;
$color-green: #17e8c3;

$shadow: 0 0 20px rgba($color-dark, 0.15);

$font-light: "octarine-light", sans-serif;
$font-bold: "octarine-bold", sans-serif;
$font-text: "nimbus-sans", sans-serif;

$font-size: 16px;

$from-tiny: 500px;
$to-tiny: $from-tiny - 1;
$font-tiny: 16px;

$from-small: 700px;
$to-small: $from-small - 1;
$font-small: 1.75vw;

$from-medium: 1000px;
$to-medium: $from-medium - 1;
$font-medium: 1.3vw;

$from-large: 1200px;
$to-large: $from-large - 1;
$font-large: 16px;

$from-big: 1400px;
$to-big: $from-big - 1;
$font-big: 16px;

$from-huge: 1600px;
$to-huge: $from-huge - 1;
$font-huge: 16px;

$from-enormous: 1800px;
$to-enormous: $from-enormous - 1;
$font-enormous: 16px;

$from-gigantic: 2000px;
$to-gigantic: $from-gigantic - 1;
$font-gigantic: 16px;

$from-colossal: 2400px;
$to-colossal: $from-colossal - 1;
$font-colossal: 16px;
