@import "reset";

@import "fonts";
@import "variables";
@import "functions";

@import "global";
@import "buttons";
@import "forms";
@import "pagination";

@import "nav";

@import "dashboard";
@import "choice";
@import "home";

.page-projet {
	height: 100vh;
	display: flex;
	flex-direction: column;

	> section {
		height: inherit;
		display: flex;
		flex-wrap: wrap;
		place-content: center;

		h1 {
			display: block;
			margin-bottom: 4rem;
			font-size: 2rem;
		}

		h2 {
			display: block;
			margin-bottom: 1rem;
			font-size: 1.2rem;
			font-weight: bold;
		}

		.toggleables {
			list-style-type: none;
			display: flex;
			font-weight: bold;
			:first-child {
				margin-right: 2rem;
				text-decoration: underline;
			}
		}
	}

	.news__card {
		width: auto;
		display: flex;
        flex-direction: column;
	}

	.pre-toggleables {
		display: flex;
		flex-direction: column;
		width: 90%;
		margin-bottom: 40px;
	}

	.cards-container {
		width: 90%;
		margin: 0 auto;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 20px;
		place-content: center;

		.commande-infos {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 20px;
			margin-bottom: 30px;

			> section {
				height: 100%;
			}

			table tr {
				grid-template-columns: repeat(4, 1fr);
			}
		}

		.produit-infos table tr {
			grid-template-columns: repeat(6, 1fr);
		}

		table tr {
			display: grid;
            gap: 20px;
            align-items: flex-end;
		}

		.aside {
			display: flex;
			flex-wrap: wrap;
			place-content: center;
		}

		.disabled-card {
			background: #f3f3f3;
			color: grey;
		}

		.btn {
			border: 2px solid;
            width: fit-content;
            align-self: flex-end;
            margin-top: 10px
		}
	}
}
